@charset "utf-8";

/* 기능구현 css */

.sbx li:first-child:hover .sbx>ul{
    height: 500px;
}










/* 서브메뉴 기능 */

/* 서브메뉴 겉박스 구성 */
.smenu{
    position: absolute;
    width: 1580px;
    left: -150px;
    z-index: 1;
    border-radius: 0 0 50px 50px;
    height: 0px;
    overflow: hidden;
    background: #fff;
    transition: all .5s;
}

/* 서브메뉴 안박스 구성 */
.sibx{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
}

/* 호버시 색깔표시 */
.sibx li:hover>a{
    color: #767676;
}

/* ul박스 */
.ll1, .ll2, .ll3, .ll4, .ll5, .ll6, .ll7, .ll8{
    display: none;
}

/* 호버시 글자들 보임 */
.l1:hover .ll1, .l2:hover .ll2, .l3:hover .ll3,
.l4:hover .ll4, .l5:hover .ll5, .l6:hover .ll6,
.l7:hover .ll7, .l8:hover .ll8{
    display: block;
}

/* 호버시 서브메뉴 내려감 */
.l1:hover .smenu, .l2:hover .smenu, .l3:hover .smenu,
.l4:hover .smenu, .l5:hover .smenu, .l6:hover .smenu,
.l7:hover .smenu, .l8:hover .smenu{
    height: 450px;
}

/* 호버시 색깔로 표시 */
.l1:hover .s1, .l2:hover .s2, .l3:hover .s3,
.l4:hover .s4, .l5:hover .s5, .l6:hover .s6,
.l7:hover .s7, .l8:hover .s8{
    color: #767676;
}

/* 큰블록 셋팅 */
.bbxx{
    display: none;
    width: 350px;
    height: 400px;
    border-radius: 30px;
}

/* 작은블록 셋팅 */
.sbxx{
    display: none;
    width: 185px;
    height: 185px;
    border-radius: 30px;
}

/* 호버시 블록 보이기 */
.l1:hover .bbxx, .l1:hover .sbxx, .l3:hover .bbxx, .l3:hover .sbxx,
.l4:hover .bbxx, .l4:hover .sbxx, .l5:hover .bbxx, .l5:hover .sbxx, 
.l6:hover .bbxx, .l6:hover .sbxx, .l8:hover .bbxx, .l8:hover .sbxx{
    display: block;
}

/* 호버시 나오기전 셋팅 */
.bbbb, .sbbb{
    padding-left: 18px;
    transition: padding .5s;
}

/* 호버시 오른쪽으로 이동하며 나오기 */
.l1:hover .bbbb, .l1:hover .sbbb, .l3:hover .bbbb, .l3:hover .sbbb, 
.l4:hover .bbbb, .l4:hover .sbbb, .l5:hover .bbbb, .l5:hover .sbbb, 
.l6:hover .bbbb, .l6:hover .sbbb, .l8:hover .bbbb, .l8:hover .sbbb{
    padding-left: 50px;
}

/* 420px 박스 기능 */
/* 호버시 글자, 이미지 커짐 */
.cull li:hover p:nth-child(2){
    transform:scale(1.1)
}

.cull li:hover p:nth-child(3){
    transform:scale(1.1)
}

.cull2 li:hover img{
    scale: 1.1;
}

/* 314px 박스 기능 */
/* 호버시 글자, 이미지 커짐 */
.cull2 li:hover p:nth-child(2),
.cull2 li:hover p:nth-child(3){
    transform:scale(1.1)
}

.cull2 li:hover p:nth-child(4){
    transform:scale(1.1)
}

.cull2 li:hover p:nth-child(4) span{
    transform:scale(1.1)
}


/* HOT KEYWORD 쪽 기능구현 */
/* 호버시 바깥선 표시 */
.fcbx2:hover,
.fcbx3:hover{
    outline: 1px solid #000;
}

/* 호버시 폰트 색깔 표시 */
.fcbx2:hover p,
.fcbx3:hover p{
    color: #000;
}

/* PRIMIUM STYLE 쪽 기능구현 */
/* 호버시 폰트, 이미지커짐 */
.lbx:hover .iibx>span img{
    scale: 1.1;
}

.lbx:hover .iibx p{
    transform:scale(1.1)
}

.fcbx2.on{
    outline: 1px solid #000;
}

/* 카테고리 기능구현 */
.fcbx2.on p{
    color: #000;
}

.fcbx3.on{
    outline: 1px solid #000;
}

.fcbx3.on p{
    color: #000;
}







