@charset "utf-8";

/* 서브메뉴 이미지 */
.sbg{
    background: url(../rr/img/포폴\ 서브메뉴\ 1.jpg) no-repeat center/cover;
}

.sbg2{
    background: url(../rr/img/포폴\ 메인\ 서브메뉴\ 2.png) no-repeat center/cover
}

.sbg3{
    background: url(../rr/img/포폴\ 서브메뉴\ 3.jpg) no-repeat center/cover;
}

/* 메인 이미지 */
.bgbx{
    background: url(../rr/img/포폴\ 메인\ 1.jpg) no-repeat;
}

.bgbx2{
    background: url(../rr/img/포폴\ 메인\ 2.jpg) no-repeat;
}

.bgbx3{
    background: url(../rr/img/포폴\ 메인\ 3.jpg) no-repeat;
}

.bgbx4{
    background: url(../rr/img/포폴\ 메인\ 4.jpg) no-repeat;
}

.bgbx5{
    background: url(../rr/img/포폴\ 메인\ 5.jpg) no-repeat;
}

.mibx img{
    width: 280px;
    height: 352px;
    transition: .3s;
}

.mibx div:nth-child(4) img{
    width: 500px;
    height: 640px;
    transition: .3s;
}





.b7g1{
    background: url(../rr/img/포폴\ 7메인\ 1.jpg) no-repeat center/cover;
    width: 100%;
    height: 100%;
    transition: scale .2s;
}

.b7g2{
    background: url(../rr/img/포폴\ 7메인\ 2.png) no-repeat center/cover;
    width: 100%;
    height: 100%;
    transition: scale .2s;
}

