@charset "utf-8";

/* 서브메뉴 이미지 */
.sbg{
    background: url(../rr/img/포폴\ 서브메뉴\ 1.jpg) no-repeat center/cover;
}

.sbg2{
    background: url(../rr/img/포폴\ 메인\ 서브메뉴\ 2.png) no-repeat center/cover
}

.sbg3{
    background: url(../rr/img/포폴\ 서브메뉴\ 3.jpg) no-repeat center/cover;
}

/* 메인 이미지 */
.bgbx{
    background: url(../rr/img/포폴\ 메인\ 1.jpg) no-repeat center/cover;
    width: 1580px;
    height: 600px;
}

.bgbx2{
    background: url(../rr/img/포폴\ 메인\ 2.jpg) no-repeat center/cover;
    width: 1580px;
    height: 600px;
}

.bgbx3{
    background: url(../rr/img/포폴\ 메인\ 3.jpg) no-repeat center/cover;
    width: 1580px;
    height: 600px;
    left: 100%;
}