@charset "utf-8";

/* 서브메뉴 이미지 */
.sbg{
    background: url(../rr/img/포폴\ 서브메뉴\ 1.jpg) no-repeat center/cover;
}

.sbg2{
    background: url(../rr/img/포폴\ 메인\ 서브메뉴\ 2.png) no-repeat center/cover
}

.sbg3{
    background: url(../rr/img/포폴\ 서브메뉴\ 3.jpg) no-repeat center/cover;
}

/* 메인 이미지 */
.bgbx{
    background: url(../rr/img/포폴\ 메인\ 1.jpg) no-repeat center/cover;
}

.bgbx2{
    background: url(../rr/img/포폴\ 메인\ 2.jpg) no-repeat center/cover;
}

.bgbx3{
    background: url(../rr/img/포폴\ 메인\ 3.jpg) no-repeat center/cover;
}

.bgbx4{
    background: url(../rr/img/포폴\ 메인\ 4.jpg) no-repeat center/cover;
}

.bgbx5{
    background: url(../rr/img/포폴\ 메인\ 5.jpg) no-repeat center/cover;
}

/* 비율유지 박스 */
.bgbx::before{
    content: '';
    display: block;
    padding-top: 38%;

}.bgbx2::before{
    content: '';
    display: block;
    padding-top: 38%;

}.bgbx3::before{
    content: '';
    display: block;
    padding-top: 38%;

}.bgbx4::before{
    content: '';
    display: block;
    padding-top: 38%;

}.bgbx5::before{
    content: '';
    display: block;
    padding-top: 38%;
}





.b2g1{
    background: url(../rr/img/포폴\ 2메인\ 1.jpg) no-repeat center/cover;
}

.b2g2{
    background: url(../rr/img/포폴\ 2메인\ 2.jpg) no-repeat center/cover;
}

.b2g3{
    background: url(../rr/img/포폴\ 2메인\ 3.jpg) no-repeat center/cover;
}

.b2g1, .b2g2, .b2g3{
    position: absolute;
    width: 100%;
    transition: opacity .3s;
}

/* 비율유지 박스 */

.b2g1::before{
    content: '';
    display: block;
    padding-top: 21.5%;
}

.b2g2::before{
    content: '';
    display: block;
    padding-top: 21.5%;
}

.b2g3::before{
    content: '';
    display: block;
    padding-top: 21.5%;
}

.slidee::before{
    content: '';
    display: block;
    padding-top: 21.5%;
    
}






.b3g1{
    background: url(../rr/img/포폴\ 3메인\ 1.jpg) no-repeat center/cover;
}

.b3g1::before{
    content: '';
    display: block;
    padding-top: 100%;
}

.bg3o{
    width: 100%;
}



.b4g1{
    background: url(../rr/img/포폴\ 4메인\ 1.jpg) no-repeat center/cover;
}

.b4g1::before{
    content: '';
    display: block;
    padding-top: 100%;
}

.bg4o{
    width: 100%;
    position: absolute;
    top: 10%
    
}




.mibx img{
    max-width: 280px;
    transition: .3s;
}

.mibx img::before{
    content: '';
    display: block;
    padding-top: 125.7%;
}

.mibx div:nth-child(4) img{
    max-width: 500px;
    transition: .3s;
}

.mibx div:nth-child(4) img::before{
    content: '';
    display: block;
    padding-top: 125.7%;
}



.b6g1{
    background: url(../rr/img/포폴\ 6메인\ 1.jpg) no-repeat center/cover;
    max-width: 314px;
}

.b6g1::before{
    content: '';
    display: block;
    padding-top: 100%;
}

.b6g1o{
    position: absolute;
    width: 49.1%;
    left: 25%;
    top: 17%;
}



.b7g1{
    background: url(../rr/img/포폴\ 7메인\ 1.jpg) no-repeat center/cover;
    max-width: 635px;
    transition: scale .2s;
}

.b7g2{
    background: url(../rr/img/포폴\ 7메인\ 2.png) no-repeat center/cover;
    max-width: 635px;
    transition: scale .2s;
}

.bg7o{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}




.b7g1::before{
    content: '';
    display: block;
    padding-top: 66.1%;
}

.b7g2::before{
    content: '';
    display: block;
    padding-top: 66.1%;
}
