@charset "utf-8";

.top {
    height: 100px;
    
}

.cont {
    height: 1000px;
}  

.info {
    height: 200px;
}

body * {
    outline: 2px dashed gray;
}

.musinsa_logo {
    width: 140px;
    margin: 35px 0;
}

.ibx{
    max-width: 1250px;
    /* 최대가로크기 1200px이면
    싸고 있는 박스가 이것보다 작아질 경우
    auto로 자동전환된다 */
    margin: 0 auto;
}