@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* 
font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body *{
    outline: 1px solid red;
}

ul,ol{
    list-style: none;
}

.ibx{
    /* 플렉스박스 */
    display: flex;
    /* 크기가 넘치면 아래로 내려감 */
    flex-wrap: wrap;

    max-width: 1280px;
    margin: 0 auto;
    /* outline: 1px dashed gray; */
    /* 임시높이 */
    min-height: 88px;
}

.ebx{
    display: flex;
    /* 크기가 넘치면 아래로 내려감 */
    flex-wrap: wrap;

    max-width: 1280px;
    margin: 0 auto;
    /* outline: 1px dashed gray; */
    /* 임시높이 */
    min-height: 50px;
}

.hbx{
    display: flex;
    /* 크기가 넘치면 아래로 내려감 */
    flex-wrap: wrap;

    max-width: 1280px;
    margin: 0 auto;
    /* outline: 1px dashed gray; */
    /* 임시높이 */
    min-height: 57px;
}

.cbx{
    /* outline: 1px dotted black; */
}

.por{
    position: relative;
}

/* 상단영역 */

/* DUDCO로고 */
.dudco{
    position: absolute;
    left: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 28px;
    top: 31%;
}

/* DUDCO로고 옆 검색박스 */
.top input{
    position: absolute;
    width: 462px;
    height: 44px;
    border-radius: 25px;
    top: 24%;
    right: 3.3%;
    background-color: #f1f1f5;
    border: none;
}

/* 검색박스 폰트 포지션설정 */
.top input[type=text]{
    padding-top: 3px;
    padding-left:24px;
    box-sizing: border-box;
}

/* 검색박스 폰트 속성설정 */
.top input::placeholder{
    color: #aeaeae;
    font-size: 16px;
}

/* 검색박스 오른쪽검색모양 이미지 속성,포지션설정 */
.top input[type=image]{
    top: 37%;
    right: 7.5%;
    width: 20px;
    height: 20px;
}

/* 사이드박스 */
/* 사이드 로고 전체박스 */
.sbx{
    position: absolute;
    display: flex;
    top: 33%;   
    right: 0;
}

/* 사람로고 사이간격설정 */
.sbx li:first-child{
    padding-right: 28px;
}

/* 자물쇠로고 사이간격설정 */
.sbx li:nth-child(2){
    padding-right: 28px;
}

/* 더블박스로고 사이간격설정 */
.sbx li:nth-child(3){
    padding-right: 28px;
}

/* 상단 사이드박스 이미지 사이즈속성 */
.top .sbx img{
    right: 0;
    width: 38px;
    height: 38px;
}



/* 서브메뉴1 2 3 속성설정*/
.sme,.sme2,.sme3{
    position: absolute;
    display: flex;
    top: 30%;
}

/* 서브메뉴 1 2 3 폰트설정 */
.sme,.sme2,.sme3{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

/* 서브탑 햄버거버튼 이미지 사이즈설정 */
.stop .hbb img{
    width: 20px;
    height: 20px;
}

/* 카테고리 포지션설정 */
.sme li:nth-child(2){
    padding-left: 5px;
}

/* 두번째 서브메뉴 전체박스 포지션 설정 */
.sme2{
    left: 18%;
    display: flex;
}

/* 두번째 서브메뉴 li사이 간격 설정 */
.sme2 li:first-child{
    padding-right: 25px;
}
.sme2 li:nth-child(2){
    padding-right: 25px;
}
.sme2 li:nth-child(3){
    padding-right: 25px;
}
.sme2 li:nth-child(4){
    padding-right: 25px;
}
.sme2 li:nth-child(5){
    padding-right: 25px;
}
.sme2 li:nth-child(6){
    padding-right: 25px;
}
.sme2 li:nth-child(7){
    padding-right: 25px;
}

/* 로그인쪽 서브메뉴 포지션설정 */
.sme3{
    right: 0;
}

/* 로그인쪽 서브메뉴 폰트컬러설정 */
.sme3 a{
    color: #767676;
}

/* 로그인쪽 서브메뉴 사이간격 설정 */
.sme3 li:nth-child(2){
    padding-left: 20px;
}

.sme3 li:last-child{
    padding-left: 20px;
}









/* 하단박스 ul 속성설정 */
.hbx ul{
    position: absolute;
    display: flex;
    top: 33%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* 하단박스 회사소개쪽 ul 폰트설정 */
.infof ul li{
    font-family: 'Noto Sans:wght@100', sans-serif;
}

/* 하단박스 회사소개쪽 사이간격설정 */
.infof ul li+li{
    padding-left: 5px;
}

/* 하단박스 회사소개쪽 사이 줄만들기 */
.infof ul li+li::before{
    content: 'l';
    color: #dbdbdb;
    margin: 0 14px;
}

/* 하단박스 판매자서비스쪽 박스 크기설정 */
#seleml{
    width: 80px;
    
}






/* 하단소개 설정 */
/* (주)두드코 디자인 */
.info2 h3{
    padding-top: 4.1%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 19px;
}

/* 하단소개 박스 */
/* 대표이사....사업자등록번호 */
.hib{
    display: flex;
    padding-top: 2.2%;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    
}

/* 하단소개 박스 사이선 */
.hib li+li::before{
    content: 'l';
    color: #dbdbdb;
    margin: 0 12px;
}

.hib li+li{
    padding-left: 3px;
    letter-spacing: -0.2px;
}

/* 하단소개 설정 */
/* 통신판매업신고.. */
.hib2{
    display: flex;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    padding-top: 0.5%;
}

.hib2 li+li{
    padding-left: 3px;
}

.hib2 li+li::before{
    content: 'l';
    color: #dbdbdb;
    margin: 0 15px;
}

/* 소비자피해보상 */
.info2 h5{
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 3%;
    font-weight: 700;
    font-size: 15px;
}

select {
    font-family: 'Noto Sans KR';
    font-size: 15px;
    font-weight: 500;
    appearance:none;
    background:url(../rr/img/아래\ 화살표.png) no-repeat 97% 50%/15px auto;
    border: none;
}

.infos ul{
    position: relative;
}

.infos li{
    position: absolute;
}

.infos li:first-child{
    left: 14%;
}

.infos li:last-child{
    right: 2%;
}

/* 고객님의 안전거래... */
.info2 p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    padding-top: 1.7%;
    color: #000;
}

/* 우 하단소개 */ 
.llbx h3{
    padding-left: 22%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 19px;
}

.llbx li {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    padding-left: 22%;
}

.llbx p{
    font-size: 12px;
}

.llbx img{
    width: 20px;
    height: 20px;
}

.llbx li:last-child{
    display: flex;
}







/* 두번째탑 위쪽 구분선 설정 */
.ttop{
    border-bottom: 2px solid #dbdbdb;
}

.top{
    height: 88px;
}

.stop{
    height: 55px;
}

.cont{
    height: 500px;
}

.info{
    height: 57px;

}

.info2{
    height: 315px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-13 {width: 80.33%}
.col-14 {width: 19.66%}