@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Noto+Sans:wght@300;400;500;700&family=Roboto:wght@300;500;700&display=swap');

/* 
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body *{
    outline: 1px solid red;
}

ul,ol{
    list-style: none;
}

.ibx{
    /* 플렉스박스 */
    display: flex;
    /* 크기가 넘치면 아래로 내려감 */
    flex-wrap: wrap;

    max-width: 1280px;
    margin: 0 auto;
    /* outline: 1px dashed gray; */
    /* 임시높이 */
    min-height: 88px;
}

.mbx{
    /* 플렉스박스 */
    display: flex;
    /* 크기가 넘치면 아래로 내려감 */
    flex-wrap: wrap;

    max-width: 1580px;
    margin: 0 auto;
    /* outline: 1px dashed gray; */
    /* 임시높이 */
    min-height: 90px;
}

.ebx{
    display: flex;
    /* 크기가 넘치면 아래로 내려감 */
    flex-wrap: wrap;

    max-width: 1280px;
    margin: 0 auto;
    /* outline: 1px dashed gray; */
    /* 임시높이 */
    min-height: 50px;
}

.hbx{
    display: flex;
    /* 크기가 넘치면 아래로 내려감 */
    flex-wrap: wrap;

    max-width: 1280px;
    margin: 0 auto;
    /* outline: 1px dashed gray; */
    /* 임시높이 */
    min-height: 57px;
}

.ibx2{
    /* 플렉스박스 */
    display: flex;
    /* 크기가 넘치면 아래로 내려감 */
    flex-wrap: wrap;

    max-width: 1920px;
    margin: 0 auto;
    /* outline: 1px dashed gray; */
    /* 임시높이 */
    min-height: 88px;
}

.tbx{
    height: 88px;
}

.tbx2{
    height: 88px;
}

.tbx ul{
    display: flex;
    padding-top: 22px;
}

.tbx a{
    line-height: 45px;
}

.por{
    position: relative;
}

/* 상단영역 */

/* DUDCO로고 */
.dudco{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 28px;
    
}

.tbx ul li:nth-child(2){
    padding-left: 10%;
    position: relative;
}

/* DUDCO로고 옆 검색박스 */
.top input{
    width: 462px;
    height: 46px;
    border-radius: 25px;
    background-color: #f1f1f5;
    border: none;
    float: right;
}

/* 검색박스 폰트 포지션설정 */
.top input[type=text]{
    padding-top: 3px;
    padding-left:24px;
    box-sizing: border-box;
}

/* 검색박스 폰트 속성설정 */
.top input::placeholder{
    color: #aeaeae;
    font-size: 16px;
}

/* 검색박스 오른쪽검색모양 이미지 속성,포지션설정 */
.top input[type=image]{
    position: absolute;
    top: 28%;
    right: 4%;
    width: 20px;
    height: 20px;
}

.sss{
    outline: 2px solid #dbdbdb;
}

/* 사이드박스 */
/* 사이드 로고 전체박스 */
.sbx{
    display: flex;
    float: right;
    padding-top: 4%;
}

/* 사람로고 사이간격설정 */
.sbx li:first-child{
    padding-right: 28px;
}

/* 자물쇠로고 사이간격설정 */
.sbx li:nth-child(2){
    padding-right: 28px;
}

/* 더블박스로고 사이간격설정 */
.sbx li:nth-child(3){
    padding-right: 28px;
}

/* 상단 사이드박스 이미지 사이즈속성 */
.top .sbx img{
    width: 38px;
    height: 38px;
}



/* 서브메뉴1 2 3 속성설정*/
.sme,.sme2,.sme3{
    display: flex;
    line-height: 55px;
}

/* 서브메뉴 1 2 3 폰트설정 */
.sme,.sme2,.sme3{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

/* 서브탑 햄버거버튼 이미지 사이즈설정 */
.stop .hbb img{
    margin-top: 15px;
    width: 20px;
    height: 23px;
    
}

.stop .hbb a{
    display: inline-block;
}

/* 이벤트 서브메뉴 */
.sme2{
    padding-left: 5.4%;
}


/* 카테고리 포지션설정 */
.sme li:nth-child(2){
    padding-left: 5px;
}

/* 두번째 서브메뉴 전체박스 포지션 설정 */

/* 두번째 서브메뉴 li사이 간격 설정 */
.sme2 li:first-child{
    padding-right: 25px;
}
.sme2 li:nth-child(2){
    padding-right: 25px;
}
.sme2 li:nth-child(3){
    padding-right: 25px;
}
.sme2 li:nth-child(4){
    padding-right: 25px;
}
.sme2 li:nth-child(5){
    padding-right: 25px;
}
.sme2 li:nth-child(6){
    padding-right: 25px;
}
.sme2 li:nth-child(7){
    padding-right: 25px;
}

/* 로그인쪽 서브메뉴 포지션설정 */
.sme3{
    float: right;
}

/* 로그인쪽 서브메뉴 폰트컬러설정 */
.sme3 a{
    color: #767676;
}

/* 로그인쪽 서브메뉴 사이간격 설정 */
.sme3 li:first-child{
    padding-right: 18px;
}

.sme3 li:nth-child(2){
    padding-right: 18px;
}

.sme2 ol li{
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.smenu{

}

.smenu::after{
    content: '';
    display: block;
    width: 100%;
    height: 0;
    background-color:#fff;
}

#slide, #slide2{
    display: flex;
    overflow: hidden;
}

#slide{
    width: 1580px;
    height: 600px;
}

.cul{
    position: absolute;
    white-space: nowrap;
    left: 9.4%;
    bottom: 17%;
}

.cul li:first-child{
    font-size: 40px;
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}

.cul li:nth-child(2){
    font-size: 15px;
    color: #767676;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    padding-top: 10px;
}

.cul li:last-child{
    font-size: 15px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 25px;
}

.cul li:last-child img{
    width: 30px;
    height: 18px;
}

.scont .cdi{
    display: flex;
}

.scont .cul2 img{
    width: 22px;
    height: 22px;
}

.scont .cul2{
    display: flex;
    position: absolute;
    right: 9.5%;
    bottom: 15%;
    color: #707070;
}

.cul2 span{
    color: #000;
}

.cul2 li:first-child{
    padding-right: 14px;
}

.cul2 li:nth-child(3){
    padding-left: 14px;
    padding-right: 16px;
}

.ibx>span{
    width: 1280px;
    height: 276px;
    background: rgba(0, 0, 0, 0.238);
}





.cull span{
    display: block;
    width: 420px;
    height: 420px;
    background: rgba(0, 0, 0, 0.242);
}

.cull{
    display: flex;
    padding-top: 191px;
}

.cull li+li{
    padding-left: 10px;
}

.cull p{
    text-align: center;
    transition: .2s;
}

.cull p:nth-child(2){
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-top: 20px;
}

.cull p:nth-child(3){
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #767676;
    padding-top: 8px;
}

/* 기능 */
.cull li:hover p:nth-child(2){
    font-size: 30px;
}

.cull li:hover p:nth-child(3){
    font-size: 21px;
}




.di2 h2{
    text-align: center;
    margin-top: 91px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.cun {
    background: rgba(0, 0, 0, 0.03);
    width: 314px;
    height: 396px;
    display: block;
    box-sizing: border-box;
}

.cull2 {
    display: flex;
    padding-top: 32px;
}

.icun{
    background: #dbdbdb;
    width: 314px;
    height: 314px;
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 41px;
}

.cull2 li+li{
    padding-left: 8px;
}

.lp{
    display: inline-block;
}

.ls{
    display: inline-block;
}

.cull2 p,
.cull2 img{
    transition: .2s;
}

.cull2 p:nth-child(2){
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-top: 16px;
    color: #191919;
}

.cull2 p:nth-child(3){
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-top: 2px;
    color: #505050;
}

.cull2 p:nth-child(4){
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #191919;
    padding-top: 12px;
}

.cull2 p:nth-child(4) span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #191919;
    padding-left: 2px;
}

.cun{
    overflow: hidden;
}

.cull2 li:hover img{
    scale: 1.1;
}

.cull2 li:hover p:nth-child(2),
.cull2 li:hover p:nth-child(3){
    font-size: 18px;
}

.cull2 li:hover p:nth-child(4){
    font-size: 21px;
}

.cull2 li:hover p:nth-child(4) span{
    font-size: 17px;
}



.ffv{
    display: block;
    width: 200px;
    height: 47px;
    margin: 69px auto;
    border-radius: 50px;
    background: #fff;
    outline: 1px solid #dbdbdb;
}

.fv{
    border-radius: 50px;
}

.fv img{
    width: 18px;
    height: 18px;
    margin-top: 15px;
    margin-left: 10px;
}

.ifv {
    display: flex;
    border-radius: 50px;
}

.ifv p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #191919;
    line-height: 47px;
    margin-left: 63px;
}



.mgz{
    background: #e9e9e9;
    height: 1052px;
    position: relative;
}

.mgz h2{
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 52px;
    font-weight: 300;
    padding-top: 124px;
}

.did{
    display: flex;
    padding-top: 40px;
    width: auto;
    height: 640px;
}

.sb{
    display: block;
    width: 280px;
    height: 352px;
    background: rgba(0, 0, 0, 0.237);
    margin: auto 0;
    overflow: hidden;
}

.bb{
    display: block;
    width: 500px;
    height: 640px;
    background: rgba(0, 0, 0, 0.233);
    margin: 0 auto; 
}

.bbo{
    margin: 0 auto;
}

.icbx{
    margin: 0 auto; 
    display: flex;
}

.alr, .all{
    margin: 0;
}

.all{
    margin-right: 135px;
}

.alr{
    margin-left: 135px;
}

.alll, .alrr{
    margin: auto 0;
}

.did img{
    width: 38px;
    height: 60px;
}

.sb1, .sb2, .sb3, .sb4{
    position: absolute;
    top: 35%;
}

.sb1{
    left: -9.5%;
}

.sb2{
    left: 5.9%;
}

.sb3{
    right: 5.8%;
}

.sb4{
    right: -9.6%;
}

.mgz p{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 25px;
}

.hot{
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-top: 122px;
}

.hcbx{
    padding-top: 32px;
    display: flex;
    justify-content: center;
}

.fcbx{
    width: 94px;
    height: 40px;
    outline: 1px solid #000;
}

.fcbx2{
    width: 102px;
    height: 40px;
    outline: 1px solid #dbdbdb;
    margin-left: 8px;
}

.fcbx3{
    width: 89px;
    height: 40px;
    outline: 1px solid #dbdbdb;
    margin-left: 8px;
}

.fcbx, .fcbx2, .fcbx3{
    border-radius: 30px;
}

.fcbx p, .fcbx2 p, .fcbx3 p{
    text-align: center;
    line-height: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.fcbx2 p, .fcbx3 p{
    color: #767676;
}

.fcbx2.on{
    outline: 1px solid #000;
    color: #000;
}

.fcbx3.on{
    outline: 1px solid #000;
    color: #000;
}

.fcbx2:hover,
.fcbx3:hover{
    outline: 1px solid #000;
}

.fcbx2:hover p,
.fcbx3:hover p{
    color: #000;
}

.cont2 .cull2{
    padding-top: 34px;
}

.cont2 .ffv{
    margin: 69px auto 0
}

.pri{
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #000;
    margin-top: 120px;
}

.pbx{
    padding-top: 32px;
}

.pbx2{
    display: flex;
}

.lbx{
    width: 640px;
    height: 640px;
    background: #ececec;
}

.rbx{
    width: 640px;
    height: 640px;
    background: rgba(0, 0, 0, 0.150);
}

.lbx span{
    width: 314px;
    height: 314px;
}

.iibx{
    margin: 0 auto;
    width: 314px;
    padding-top: 106px;
    
}

.iibx>span{
    display: block;
    width: 314px;
    height: 314px;
    background: rgba(0, 0, 0, 0.287);
}

.iibx p{
    padding-top: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #505050;
    text-align: center;
}

.iibx p:last-child{
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #191919;
    padding-top: 12px;
}

.iibx p:last-child span{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    color: #191919;
}

.col{
    padding-top: 120px;
    font-family: 'roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #000;
}





.hlbx{
    padding-top: 32px;
}

.hsbx{
    display: block;
    position: absolute;
    width: 635px;
    height: 420px;
    background: rgba(0, 0, 0, 0.101);
}

.gbx{
    display: block;
    width: 635px;
    height: 420px;
    background: 
    linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.442) 100%);
}

.wc, .sale{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: #fff;
}

.wc{
    font-size: 22px;
}

.sale{
    font-size: 15px;
    padding-top: 6px;
}

.lpbx{
    position: absolute;
    bottom: 0;
    margin-left: 32px;
    margin-bottom: 32px;
}

.df{
    display: flex;
}

.l2bx{
    margin-left: 10px;
}


.hhh{
    outline: 1px solid #dbdbdb;
}

/* 하단박스 ul 속성설정 */
/* 회사 소개쪽 */
.hbx ul{
    display: flex;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
}

/* 하단박스 회사소개쪽 ul 폰트설정 */
.infof ul li{
    line-height: 57px;
}

/* 하단박스 회사소개쪽 사이간격설정 */
.infof ul li+li{
    padding-left: 4px;
}

/* 하단박스 회사소개쪽 사이 줄만들기 */
.infof ul li+li::before{
    content: 'l';
    color: #dbdbdb;
    margin: 0 14px;
}

/* 하단박스 판매자서비스쪽 박스 크기설정 */
#seleml{
    width: 80px;
    
}






/* 하단소개 설정 */
/* (주)두드코 디자인 */
.info2 h3{
    padding-top: 4.1%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 19px;
}

/* 하단소개 박스 */
/* 대표이사....사업자등록번호 */
.hib{
    display: flex;
    padding-top: 2.2%;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    
}

/* 하단소개 박스 사이선 */
.hib li+li::before{
    content: 'l';
    color: #dbdbdb;
    margin: 0 12px;
}

.hib li+li{
    padding-left: 3px;
    letter-spacing: -0.2px;
}

/* 하단소개 설정 */
/* 통신판매업신고.. */
.hib2{
    display: flex;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    padding-top: 0.5%;
}

.hib2 li+li{
    padding-left: 3px;
}

.hib2 li+li::before{
    content: 'l';
    color: #dbdbdb;
    margin: 0 15px;
}

/* 소비자피해보상 */
.info2 h5{
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 3%;
    font-weight: 700;
    font-size: 15px;
}

.infos img{
    margin-top: 22px;
    margin-left: 8px;
    width: 13px;
    height: 11px;
}

.infos li{
    line-height: 57px;
}

.infos ul{
    float: right;
}

.infos li:first-child{
    margin-right: 30px;
}

.infos ol li{
    position: relative;
    z-index: 1;
    line-height: 30px;
    text-align: left;
    padding-left: 10px;
    overflow: hidden;
    height: 0;
    transition: height .5s ease-in;
}

.foss2:hover .infos ol li{
    height: 100px;
}
/* 고객님의 안전거래... */
.info2 p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    padding-top: 1.7%;
    color: #000;
}

/* 우 하단소개 */ 
.llbx h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 19px;
}

.illbx {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    padding-left: 21%;
    padding-top: 14%;
}

.illbx {
    font-size: 12px;
}

.illbx li:nth-child(2){
    padding-top: 27px;
}

.illbx li:nth-child(3){
    padding-top: 6px;
}

.illbx li:nth-child(3) img{
    width: 18px;
    height: 18px;
}

.illbx2 li{
    padding-left: 27%;
}



.illbx2 li:first-child{
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 3px;
}

.illbx2 li:nth-child(2){
    font-weight: 500;
    font-size: 12px;
}

.illbx2 img{
    position: absolute;
    top: 58%;
} 

.illbx2{
    padding-top: 65px;
    padding-left: 21%;
}







/* 두번째탑 위쪽 구분선 설정 */
.ttop{
    border-bottom: 2px solid #dbdbdb;
}

.top{
    height: 88px;
}

.stop{
    height: 55px;
}

.cont{
    height: 1573px;
}

.cont2{
    height: 2480px;
}

.scont{
    height: 848px;
}

.info{
    height: 57px;

}

.info2{
    height: 315px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-13 {width: 80.33%}
.col-14 {width: 19.66%}